.home {
  padding-top: 60px;
  padding-left: 240px;
}

.home__layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home__layout-screen {
  flex: 1 1 0%;
  padding: 0px 30px;
}

.home__layout-screen-topbanner {
  margin-bottom: 24px;
  position: relative;
}

.home__layout-screen-topbanner-list {
  display: flex;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.home__layout-screen-topbanner-list-component {
  width: 25%;
}

.home__layout-screen-topbanner-list-component-link {
  display: flex;
  align-items: center;
  height: 90px;
  padding-left: 18px;
  position: relative;
}

.home__layout-screen-topbanner-list-component-link-text {
  flex: 1 1;
}

.home__layout-screen-topbanner-list-component-link-text-area {
  height: 36px;
}

.home__layout-screen-topbanner-list-component-link-text-area-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #2e3033;
  text-overflow: ellipsis;
}

.home__layout-screen-topbanner-list-component-link-text-area-description {
  margin-top: 3px;
  font-size: 12px;
  line-height: 16px;
  text-overflow: ellipsis;
}

.home__layout-screen-topbanner-list-component-link-text-date {
  margin-top: 8px;
  color: #1bb373;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-overflow: ellipsis;
}

.home__layout-screen-topbanner-list-component-link-img {
  background-color: tomato;
  height: 100%;
  width: 133px;
}

.home__layout-screen-recommend {
  margin-bottom: 24px;
  border-radius: 12px;
  height: 370px;
  position: relative;
  background-color: black;
}

.home__layout-screen-recommend-live {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 24px 30px 30px;
  position: relative;
}

.home__layout-screen-recommend-live-header {
  position: relative;
  width: 100%;
}

.home__layout-screen-recommend-live-header-count {
  align-items: center;
  display: flex;
  width: 100%;
}

.home__layout-screen-recommend-live-header-count-badge {
  background-color: red;
  height: 25px;
  width: 55px;
  border-radius: 5px;
}

.home__layout-screen-recommend-live-header-count-badge-live {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 5px 5px;
  color: white;
  height: 13px;
}

.home__layout-screen-recommend-live-header-count-text {
  color: red;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}

.home__layout-screen-recommend-live-header-title {
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 30px;
  width: 400px;
}

.home__layout-screen-recommend-live-info {
  bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  gap: 0 30px;
  width: 100%;
}

.home__layout-screen-recommend-live-info-now {
  display: flex;
  align-items: center;
  flex: 1 1;
}

.home__layout-screen-recommend-live-info-now-img i {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}

.home__layout-screen-recommend-live-info-now-info {
  margin-left: 13px;
}

.home__layout-screen-recommend-live-info-now-info-name {
  color: #dfe2ea;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  position: relative;
}

.home__layout-screen-recommend-live-info-now-info-category {
  margin-top: 8px;
  color: #1bb373;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
}

.home__layout-screen-recommend-live-info-list {
  display: flex;
}

.home__layout-screen-recommend-live-info-list-component {
  margin-left: 10px;
  width: 106px;
}

.home__layout-screen-recommend-live-info-list-component-live {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  position: relative;
}

.home__layout-screen-component {
  margin-top: 30px;
}

.home__layout-screen-component-header {
  align-items: center;
  display: flex;
  gap: 10px;
  width: 100%;
}

.home__layout-screen-component-header-title {
  color: #141517;
  font-size: 19px;
  font-weight: 600;
  line-height: 23px;
}

.home__layout-screen-component-header-all {
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  margin: -5px -5px -5px auto;
  padding: 5px;
}

.home__layout-screen-component-list {
  display: flex;
  margin: 15px -14px -30px 0;
  flex-wrap: wrap;
}

.home__layout-screen-component-list-stream {
  width: 25%;
  padding: 0 14px 30px 0;
  box-sizing: border-box;
}

.home__layout-screen-component-list-stream-area {
  height: 100%;
}

.home__layout-screen-component-list-stream-area-live {
  padding-top: 56.25%;
  display: block;
  border-radius: 12px;
  position: relative;
}

.home__layout-screen-component-list-stream-area-live-img {
  border-radius: 13px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  box-sizing: border-box;
}

.home__layout-screen-component-list-stream-area-live-count {
  left: 6px;
  top: 6px;
  position: absolute;
}

.home__layout-screen-component-list-stream-area-live-count-badge {
  padding: 0 5px;
  background-color: red;
  align-items: center;
  justify-content: center;
  display: inline-flex;

  height: 20px;
  width: 32px;
  border-radius: 4px;
}

.home__layout-screen-component-list-stream-area-live-count-badge-live {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-size: 12px;
  font-weight: 600;
  width: 28px;
  height: 10px;
}

.home__layout-screen-component-list-stream-area-live-count-text {
  padding: 0 5px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0);
  border-radius: 4px;
  color: white;
  display: inline-flex;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
}

.home__layout-screen-component-list-stream-area-info {
  margin-top: 12px;
  display: flex;
  width: 100%;
}

.home__layout-screen-component-list-stream-area-info-profile {
  margin-right: 10px;
}

.home__layout-screen-component-list-stream-area-info-profile-img {
  display: block;
  position: relative;
}

.home__layout-screen-component-list-stream-area-info-area {
  flex: 1 1;
}

.home__layout-screen-component-list-stream-area-info-area-title {
  font-size: 15px;
  font-weight: 600;
}

.home__layout-screen-component-list-stream-area-info-area-name {
  margin: 0 0 -3px -5px;
}

.home__layout-screen-component-list-stream-area-info-area-name-channel {
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  width: 100%;
  padding: 3px 5px;
}

.home__layout-screen-component-more {
  align-items: center;
  display: flex;
  margin-top: 38px;
  position: relative;
}

.home__layout-screen-component-more::before,
.home__layout-screen-component-more::after {
  content: "";
  flex: 1 1;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.home__layout-screen-component-morebtn {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  height: 29px;
  margin: 0 20px;
  padding: 0 14px 0 20px;
  position: relative;
}

.home__layout-screen-component-category-list {
  margin-top: 15px;
}

.home__layout-screen-component-category-list-stream {
  display: flex;
  gap: 0 14px;
  width: 100%;
}

.home__layout-screen-component-category-list-stream-item {
  width: calc(14.28571% - 12px);
}

.home__layout-screen-component-category-list-stream-item-area {
  display: block;
}

.home__layout-screen-component-category-list-stream-item-area-img {
  border-radius: 10px;
  padding-top: 133.3333333333%;
  position: relative;
  box-sizing: border-box;
}

.home__layout-screen-component-category-list-stream-item-area-img img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  box-sizing: border-box;
}

.home__layout-screen-component-category-list-stream-item-area-info {
  margin-top: 17px;
  padding: 0 3px;
}

.home__layout-screen-component-category-list-stream-item-area-info-title {
  font-size: 15px;
  font-weight: 600;
}

.home__layout-screen-component-category-list-stream-item-area-info-title-count {
  color: gray;
  font-size: 12px;
  margin-top: 4px;
}

.home__layout-footer {
  margin-top: 50px;
}

.home__layout-footer-area {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 30px;
  padding: 25px 0 85px;
  text-align: center;
}

.home__layout-footer-area-list-text {
  color: #666;
  display: inline-block;
  font-size: 12px;
  padding: 5px 11px 5px 10px;
  position: relative;
}

.home__layout-footer-area-list-text::after {
  background-color: gray;
  top: 7px;
  bottom: 7px;
  right: 0;
  width: 1px;
  content: "";
  position: absolute;
}
