.logo {
  z-index: 99;
  position: fixed;
  display: flex;
  /* position: relative; */
  left: 60px;
  padding: 17px 0px;
}

.logo-jjiririt {
  font-size: 26px;
  font-weight: 600;
}

.logo-beta {
  color: #ff5454;
  /* position: absolute; */
  top: 15px;
  left: 80px;
  font-size: 12px;
  font-weight: 600;
}
