.sidebar {
  z-index: 99;
  position: fixed;
  width: 240px;
  box-sizing: content-box;
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.sidebar__header {
  flex: none;
  height: 60px;
}

.sidebar__header-button {
  background-color: white;
  border: none;
  padding: 10px 4px 10px 19px;
  position: relative;
}

.sidebar__header-button i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__header-button i:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.sidebar__section {
  flex: 1 1;
  overflow: auto;
  padding-bottom: 30px;
  scrollbar-width: none;
}

.sidebar__service {
  padding: 5px 18px 10px;
}

.sidebar__service-list {
  padding: 5px 8px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  height: 26px;
}

.sidebar__service-list:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.sidebar__service-list i {
  margin-right: 13px;
  font-size: 20px;
}

.sidebar__service-text {
  display: block;
}

.sidebar__recommend-wrapper {
  padding: 11px 18px 10px;
  position: relative;
}

.sidebar__recommend-wrapper:before {
  content: "";
  top: 0;
  height: 2px;
  left: 21px;
  right: 21px;
  position: absolute;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar__recommend-wrapper:after {
  content: "";
  bottom: 0;
  height: 1px;
  left: 25px;
  right: 25px;
  position: absolute;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar__recommend-header {
  padding: 1px 6px 7px 8px;
  display: flex;
  align-items: center;
  width: 190px;
  height: 22px;
}

.sidebar__recommend-header-title {
  flex: 1 1;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
}

.sidebar__recommend-header button {
  height: 22;
  width: 22;
  /* padding-right: 20px; 
  display: flex;
  position: relative; */
  flex: none;
  background-color: white;
  border: none;
}

.sidebar__recommend-header-refresh {
}

.sidebar__recommend-header button:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.sidebar__recoomend-list {
  padding: 0 0 5px;
}

.sidebar__recommend-list-channel {
  padding: 4px 8px 4px 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar__recommend-list-channel:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.sidebar__recoomend-list-channel-profile {
  margin: 2px;
}

.sidebar__recommend-list-channel-info {
  margin-left: 10px;
  flex: 1 1 0%;
}

.sidebar__recommend-list-channel-info-name {
  display: block;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}

.sidebar__recommend-list-channel-info-category {
  display: block;
  font-size: 11px;
  line-height: 13px;
  margin-top: 3px;
}

.sidebar__recommend-list-channel-count {
  color: red;
  flex: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin-left: 8px;
  padding-left: 8px;
  position: relative;
}

.sidebar__recommend-list-more {
  padding: 5px 0;
  text-align: center;
}

.sidebar__recommend-list-morebtn {
  padding: 0px 13px 0px 19px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  font-size: 10px;
  font-weight: 600;
  height: 29px;
  line-height: 16px;
}

.sidebar__recommend-list-morebtn:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.sidebar__service-go {
  padding-top: 18px;
}

.sidebar__service-title {
  padding: 0px 8px 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 13px;
}

.sidebar__service-title i {
  margin: -1px 0 -1px 3px;
}
